.btn-outline-primary {
	color: #DE6262 !important;
	background-color: transparent ;
	background-image: none;
	border-color: #DE6262;
}
.btn-outline-primary:hover {
	color: #fff !important;
	background-color: #DE6262;
	border-color: #DE6262;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #DE6262;
  border: #DE6262 1px;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

.fondo-rosa {
	background:#DE6262;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	 margin-top:50px;
}



.principal-color{
	color:#DE6262;
}

.line_sep{
  background: #DE6262;
}

select{
    background: transparent;
    height: 38px;
     
  }
  
.personal-radio:checked{
	border-color: #DE6262 !important; 
  border-radius: 50%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #DE6262;
  background-color: #DE6262;
}

.espacio
{
	padding-bottom: 10px;
}

.espacio-footer
{
	padding-top: 30px;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #bfbfbc;
  border-color: #bfbfbc;
  background-color: transparent;
}
.nav-item
{
	color: #DE6262;
}
.nav-item:hover
{
	color: #EC4040;
}

.td
{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.td-b
{
	padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.margin_left_btn{ 
    margin-left: 60px !important; 
}
.margin_left_modal{ 
    margin-left: 20px !important; 
} 

.panel-footer{
  padding-bottom: 50px !important;
}


.border-right
{
  /*border-right: 1px solid #dee2e6!important;*/
  border-right: 1px solid #000 !important;
}